

.OurPartners_bg {
  margin-bottom: 20vh;
}

.PartnerHead{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.HeadBg{
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 551.02px;
  height: 40px;
  background-image: 
  radial-gradient(rgba(107, 192, 254, 0.35),rgba(107, 192, 254, 0));
  z-index: 1;
  border-radius: 50%;
}

.OurPartners_Head{
  font-style: normal;
  font-weight: 400;
  font-family: "Swiss 721";
  color: #000000;
  text-align: center;
  font-size: 50px;
  -webkit-text-stroke: 1px rgba(107, 192, 254, 1);
  
}

.OurPartners_bg {
  margin-bottom: 40vh;
}

@media screen and (max-width: 900px) {
  .OurPartners_Head{
    font-size: 40px;
  }

  .HeadBg{
      width: 440.81px;
      height: 35px;
  }
}

@media screen and (max-width: 650px) {
  .OurPartners_Head{
    font-size: 25px;
  }

  .HeadBg{
      width: 300px;
      height: 30px;
  }
}

@media screen and (max-width: 450px) {
  .OurPartners_Head{
    font-size: 17px;
  }

  .HeadBg{
      width: 220px;
      height: 25px;
  }
}

.OurPartners_Partners {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 4.67vw;
  grid-row-gap: 7vh;
  margin: 15vh 15vw 35vh 15vw;
}

.OurPartners_Partner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Partner {
  height: 20vh;
}

@media screen and (min-width: 450px) and (max-width: 600px) {
  .OurPartners_Partners {
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 4.67vw;
    grid-row-gap: 7vh;
    margin: 5vh 15vw 5vh 15vw;
  }

  .Partner {
    height: 15vh;
  }

  
}

@media screen and (max-width: 450px) {
  .OurPartners_Partners {
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 8.67vw;
    grid-row-gap: 7vh;
    margin: 3vh 13vw 5vh 13vw;
  }

  .Partner {
    height: 12vh;
  }

  .OurPartners_Partner{
    border-radius: 10px;
  }
}