.Details {
  height: 70%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 4fr 1fr 1fr 12fr 2fr;
  background-color: #ffffff;
  grid-row-gap: 0;
}

.Name {
  grid-column: 1 / span 2;
  background-color: #ffffff;
  text-align: center;
  font-family: "Gotham Black";
  font-style: normal;
  font-weight: 500;
  font-size: 7vh;
  letter-spacing: -0.045em;
  margin-bottom: 0%;
}

.Date {
  background-color: #ffffff;
  text-align: left;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vh;
}

.Time {
  background-color: #ffffff;
  text-align: right;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vh;
}

.Venue {
  background-color: #ffffff;
  text-align: left;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vh;
}

.TeamSize {
  background-color: #ffffff;
  text-align: right;
  font-family: "Gotham Black";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vh;
}

.Description {
  grid-column: 1 / span 2;
  background-color: #ffffff;
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
  font-size: 1.5vw;
  font-family: "Swiss 721";
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.03em;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 20px;
}

.Description::-webkit-scrollbar {
  display: none;
}

.Register {
  background-color: #ffffff;
}

.Rulebook {
  background-color: #ffffff;
}

.Date,
.Time,
.Venue,
.TeamSize {
  margin-bottom: 4%;
}

.Button1,
.Button2,
.Button3 {
  background-color: #000000;
  height: 100%;
  width: 50%;
  color: #ffffff;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.045em;
  font-size: 2vh;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-container {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 30px;
}

.button-container * {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .Details {
    height: 80%;
    grid-template-rows: 4fr 1fr 1fr 10fr 4fr;
  }

  .button-container {
    height: 15px;
  }

  .Name {
    font-size: 4vh;
  }

  .Date,
  .Time,
  .Venue,
  .TeamSize {
    font-size: 1.2vh;
  }

  .Button1,
  .Button2,
  .Button3 {
    font-size: 1.2vh;
    width: 50%;
  }

  .Description {
    margin-left: 8%;
    margin-right: 8%;
  }

  .Description {
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .Description {
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
  .Description {
    font-size: 1.9vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .Description {
    font-size: 1.7vw;
  }
}

@media screen and (min-width: 4000px) and (max-width: 600px) {
  .Description {
    font-size: 1.9vw;
  }
}

@media screen and (max-width: 400px) {
  .Description {
    font-size: 2.2vw;
  }
}
