.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 240px;
  padding-bottom: 120px;
}

.header {
  font-family: "swis721-blk-bt-black", sans-serif;
  font-weight: 900;
  line-height: 50px;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.content {
  width: 60%;
  letter-spacing: 0.05rem;
  font-family: "Gotham", sans-serif;
  text-align: justify;
  margin-bottom: 240px;
}
