.CampAb_Image {
  margin: 0 15vw 0 15vw;
  height: 70vh;
}

.CampAb_bg {
  background-color: #000000;
  margin-bottom: 20vh;
}

.Image {
  align-items: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .CampAb_Image {
    margin: 0;
  }
}

.CampAb_Header {
  position: relative;
  bottom: 40vh;
  width: 36vw;
  margin: 0 32vw 0 32vw;

 
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: white;
  font-family: "Swis721BT";
}

@media screen and (min-width: 900px) and (max-width: 1050px) {
  .CampAb_Header {
    font-size: 18px;
  }
}

@media screen and (min-width: 620px) and (max-width: 700px) {
  .CampAb_Header {
    font-size: 16px;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .CampAb_Header {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .CampAb_Header {
    width: 50vw;
    margin: 0 25vw 0 25vw;
  }
}

@media screen and (max-width: 620px) {
  .CampAb_Header {
    font-size: 14.5px;
  }
}

@media screen and (max-width: 500px) {
  .CampAb_Image {
    margin: 0;
  }

  .CampAb_Header {
    width: 80vw;
    margin: 0 10vw 0 10vw;
  }
}

.CampAb_Desc {
  position: relative;
  top: -15vh;
  width: 26vw;
  margin: 0 37vw 0 37vw;
  letter-spacing: 0.05rem;
  font-family: "Swiss 721";
  font-size: 1.3em;
  font-weight: 300;
  text-align: justify;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .CampAb_Desc {
    width: 50vw;
    margin: 0 25vw 0 25vw;
  }
}

@media screen and (max-width: 450px) {
  .CampAb_Desc {
    font-size: 1.1em;
  }
}

.Leaderboard {
  position: relative;
  top: -15vh;
  height: 3.8vh;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin-top: 1vh;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  color: #ffffff;
}

.Leaderboardbutton {
  background-color: #1e1e1e;
  color: #ffffff;
  height: 15px;
  width: 15px;
  position: relative;
  top: -15%;
  font-weight: 700;
  border: 2px solid #ffffff;
  font-size: 8px;
  border-radius: 50%;
}

.whiteline {
  width: 146.09px;
  border: 1px solid #ffffff;
  text-align: center;
  margin-left: calc(50vw - 77.045px);
}

@media screen and (max-width: 450px) {
  .Leaderboard {
    font-size: 15.43px;
  }

  .Leaderboardbutton {
    top: -13%;
    height: 11.3px;
    width: 11.3px;
    font-size: 5px;
  }

  .whiteline {
    width: 112.44px;
    margin-left: calc(50vw - 56.22px);
  }
}

.close-button {
  display: inline;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  top: 20%;
  height: 3.5vh;
  width: 3.5vh;
  text-align: center;
  font-size: 1.9vh;
  font-weight: 400;
  background-color: #ffffff;
  border-radius: 50%;
  border: solid #000000;
  color: #000000;
  cursor: pointer;
}

/*.leader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(177, 177, 177, 0.5);
  z-index: 10000;
}

.showLeaderboard{
  position: fixed;
  top: 15vh;
  left: 20%;
  height: 70vh;
  width: 60%;
  z-index: 10001;
}*/

.showLeaderboard {
  position: fixed;
  top: 15vh;
  left: 20%;
  height: 70vh;
  width: 60%;
  background: white;
  z-index: 10001;
  animation-name: openModal;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes openModal {
  from{
    scale: 0;
  }
  to{
    scale: 1;
  }
}

.leader-overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(177, 177, 177, 0.5);
  z-index: 10000;
}

@media screen and (max-width:700px) {
  .showLeaderboard{
    left: 10%;
    width: 80%;
  }
}

@media screen and (max-width:450px) {
  .showLeaderboard{
    left: 5%;
    width: 90%;
  }
}

.LeaderHead{
  height: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border:2px solid red;*/
}

.leader-header {
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0;
}

@media screen and (max-width:800px) {
  .leader-header{
    font-size: 2rem;
  }
}

.Leaderclosebutton {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  top: 20%;
  left: 1%;
  height: 3.5vh;
  width: 3.5vh;
  text-align: center;
  font-size: 1.9vh;
  font-weight: 400;
  background-color: #ffffff;
  border-radius: 50%;
  border: solid #000000;
  color: #000000;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .Leaderclosebutton{
    top: 10%;
    left: 1.5%;
    height: 2.5vh;
    width: 2.5vh;
    border: 2px solid #000000;
    font-size: 1.1vh;
    font-weight: 600;
  }

  .LeadercloseButton {
    height: 7%;
  }
}

.LeadercloseButton {
  background-color: #ffffff;
  height: 7%;
}

.closeLeadModal{
  animation-name: closeModal;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes closeModal {
  from{
    scale: 1;
  }
  to{
    scale: 0;
  }
}

.closeLeadOverlay{
  animation-name: closeOverlay;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes closeOverlay {
  from{
    background-color: rgba(177, 177, 177, 0.5);
  }
  to{
    background-color: rgba(0, 0, 0, 0);
  }
}
