.CampAb_bg {
  /* background-color: #1e1e1e; */
  margin-bottom: 10vh;
}

.CampAb_Image {
  margin: 0 20vw 0 20vw;
  height: 70vh;
}

.CampAb_bg {
  margin-bottom: 40vh;
}

.CampAb_Image {
  margin: 0 10vw 0 10vw;
  height: 70vh;
}

.Image {
  align-items: center;
  height: 100%;
  width: 100%;
}

.CampAb_Desc {
  position: relative;
  width: 40vw;
  margin: 0 37vw 0 32vw;
  letter-spacing: 0.05rem;
  font-family: "Gotham", sans-serif;
  font-size: 1.2em;
  text-align: justify;
  color: #ffffff;
}

.CampAb_Header {
  position: relative;
  bottom: 37vh;
  width: 70vw;
  margin: 0 15vw 0 15vw;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 29px;
  text-align: center;
  color: #000000;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: white;
  font-family: "Swis721 BlkEx BT";
}

.Leaderboard {
  height: 3.8vh;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  color: #ffffff;
}

.Leaderboardbutton {
  background-color: #1e1e1e;
  color: #ffffff;
  height: 15px;
  width: 15px;
  position: relative;
  top: -15%;
  font-weight: 700;
  border: 2px solid #ffffff;
  font-size: 8px;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .CampAb_Image {
    margin: 0;
  }
}

@media screen and (min-width: 620px) and (max-width: 800px) {
  .CampAb_Header {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  .CampAb_Header {
    width: 50vw;
    margin: 0 25vw 0 25vw;
  }
}

@media screen and (max-width: 620px) {
  .CampAb_Header {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .CampAb_Image {
    margin: 0;
  }

  .CampAb_Header {
    width: 80vw;
    margin: 0 10vw 0 10vw;
  }
}

@media screen and (max-width: 700px) {
  .CampAb_Desc {
    width: 40vw;
    margin: 0 30vw 0 30vw;
  }
}

@media screen and (max-width: 450px) {
  .CampAb_Desc {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 450px) {
  .Leaderboard {
    font-size: 15.43px;
  }

  .Leaderboardbutton {
    top: -13%;
    height: 11.3px;
    width: 11.3px;
    font-size: 5px;
  }
}

@media screen and (max-width: 600px) {
  .CampAb_Header {
    font-size: 5vw;
  }

  .CampAb_Desc {
    width: 66vw;
    margin: 0 17vw 0 17vw;
  }
}

.button {
  display: block;
  width: 40vw;
  margin: 0 30vw 0 30vw;
  background-color: #000000;
  color: #ffffff;
  border-color: #000000 #000000 #ffffff;
}
