.CampAb_Image{
  margin: 0 15vw 0 15vw;
  height: 70vh;
}

.CampAb_bg {
  background-color: #000000;
margin-bottom: 20vh;
}

.Image {
align-items: center;
height: 100%;
width: 100%;
}


@media screen and (max-width: 500px) {
.CampAb_Image {
  margin: 0;
}
}

.CampAb_Header{
  position: relative;
  bottom: 40vh;
  width: 36vw;
  margin: 0 32vw 0 32vw;
  
  font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      text-align: center;
      color: #000000;
      padding-top: 3vh;
      padding-bottom: 3vh;
      background-color: white;
      font-family: "Swiss 721";
}

@media screen and (min-width:900px) and (max-width:1050px) {
  .CampAb_Header{
      font-size: 18px;
  }
}


@media screen and (min-width:620px) and (max-width:700px) {
  .CampAb_Header{
      font-size: 16px;
  }
}

@media screen and (min-width:700px) and (max-width:900px) {
  .CampAb_Header{
      font-size: 16px;
  }
}

@media screen and (max-width:800px) {
  .CampAb_Header{
      width: 50vw;
      margin: 0 25vw 0 25vw;
  }
}

@media screen and (max-width:620px) {
  .CampAb_Header{
      font-size: 14.5px;
  }
}

@media screen and (max-width: 500px) {
  .CampAb_Image{
      margin: 0;
  }

  .CampAb_Header{
      width: 80vw;
      margin: 0 10vw 0 10vw;
  }
}

.CampAb_Desc{
  position: relative;
  top: -15vh;
  width: 26vw;
  margin: 0 37vw 0 37vw;
  letter-spacing: 0.05rem;
  font-family: "Gotham";
  text-align: justify;
  color: #FFFFFF;
}

@media screen and (max-width:800px) {
  .CampAb_Desc{
      width: 40vw;
      margin: 0 30vw 0 30vw;
  }
}

@media screen and (max-width:450px) {
  .CampAb_Desc{
      font-size: 10px;
  }
}

.Leaderboard{
  position: relative;
  top: -15vh;
  height: 3.8vh;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin-top: 1vh;
  font-family: 'Gotham';
font-style: normal;
font-weight: 700;
line-height: 15px;
color: #FFFFFF;
}

.Leaderboardbutton{
  background-color: #1E1E1E;
  color: #FFFFFF;
  height: 15px;
  width: 15px;
  position: relative;
  top: -15%;
  font-weight: 700;
  border: 2px solid #FFFFFF;
  font-size: 8px;
  border-radius: 50%;
}

.whiteline{
  width: 146.09px;
  border: 1px solid #FFFFFF;
  text-align: center;
  margin-left: calc(50vw - 77.045px);
  
}

@media screen and (max-width:450px) {
  .Leaderboard{
      font-size: 15.43px;
  }

  .Leaderboardbutton{
      top: -13%;
      height: 11.3px;
      width: 11.3px;
      font-size: 5px;
  }

  .whiteline{
    width: 112.44px;
    margin-left: calc(50vw - 56.22px);
  }
}