.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 40vh;
}

.header {
  font-family: "Swiss 721", sans-serif;
  font-weight: 900;
  line-height: 50px;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content {
  width: 40%;
  letter-spacing: 0.05rem;
  font-family: "Gotham", sans-serif;
  text-align: justify;
  font-size: 1.15em;
}

@media screen and (max-width: 426px) {
  .header {
    font-size: 4.2em;
  }

  .content {
    width: 60%;
    font-size: 1em;
  }
}
