* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(25%);
  transition: all 700ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(102, 100, 100, 0.8);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px black;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.celesta-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  min-height: 200px;
  margin-bottom: 40vh;
}

.celesta-cut {
  font-family: "Arsis";
  display: inline-block;
  transform: scale(1.4, 1.7);
  z-index: -1;
}

.celesta {
  font-size: 8rem;
  /* transform: scale(1.2, 1.7); */
}

.celesta-glow-container {
  position: relative;
  width: 400px;
  height: 43px;
  background-color: #000000;
  transform: translateY(85px);
}

.celesta-glow {
  position: absolute;
  font-family: "Swiss721BlkBT";
  font-size: 2.7rem;
  letter-spacing: 1rem;
  padding-inline-start: 1vw;
}

.glow1 {
  left: 53px;
  color: #fdfefe;
  z-index: 3;
}

.glow2 {
  left: 50px;
  color: #cc0f39;
}

.glow3 {
  left: 54px;
  top: 1px;
  color: #cdc764;
  z-index: 2;
}

.glow4 {
  left: 55px;
  top: 1px;
  color: #0ffbf9;
}

.celesta-top {
  font-family: "Swiss721BlkBT";
  text-transform: uppercase;
  color: #fff500;
  font-size: 1.5em;
}

.top1::after {
  content: "_______________";
}

.celesta-dawn {
  font-family: "Speedometer";
  line-height: 3.5em;
}

.celesta-logo-header {
  font-family: "SpeedometerW03-300R";
  font-size: 20rem;
  color: white;
}

.celesta-logo-top {
  position: absolute;
  width: 23rem;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.team-header {
  margin-top: 7.5vh;

  @media screen and (max-width: 425px)
  {
	scale: 0.9;
  }

  @media screen and (max-width: 320px)
  {
	scale: 0.75;
  }
}

.team-subheader {
  color: white;
  font-size: 2rem;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 50px;
}

.popup-main {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 30vh;
	max-height: 75vh;
	min-width: 50vw;
	max-width: calc(100vw - 90px);
	background-image: linear-gradient(0deg, #1a6671, #036449, #021d32);
	z-index: 1;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
	border-width: 2px;
	border-style: outset solid;
	gap: 20px;
	padding: 20px;

	@media screen and (max-width: 690px) {
		min-width: 70vw;
	}
}

.popup-title {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.popup-title h2 {
	font-size: x-large;

	@media screen and (max-width: 350px) {
		font-size: 1.2rem;
	}

	@media screen and (min-width: 1500px) {
		font-size: 3rem;
	}
}

.hamburger {
	position: absolute;
	right: 20px;
}

.popup-content {
	display: flex;
	width: fit-content;
	text-align: center;
	max-width: 90%;
	font-size: larger;
	white-space: break-spaces;

	@media screen and (min-width: 1500px) {
		font-size: x-large;
	}
}

.popup-button {
	display: flex;
	width: fit-content;
	max-width: 75%;
    color: #000;
    align-items: center;
	font-size: larger;
    /* text-decoration: none; */
	text-align: center;
    padding: 0.5rem 1rem;
	border: 1px solid white;
	background-color: white;
	border-radius: 20px;
	transition: all 0.15s ease-in-out;

	@media screen and (min-width: 1500px) {
		font-size: x-large;
	}
}

.popup-button:hover {
	background-color: #111;
	color: #fff;
}

@media screen and (max-width: 769px) {
  .celesta-top {
    font-size: 2.5vw;
  }

  .top1::after {
    content: "_________________";
  }

  .celesta-logo-top {
    width: 45vw;
  }

  .celesta-logo-header {
    font-size: 40vw;
  }
}

@media screen and (max-width: 426px) {
  .celesta {
    font-size: 5rem;
  }

  .celesta-glow-container {
    position: relative;
    width: 280px;
    height: 30px;
    background-color: #000000;
    transform: translateY(61px);
  }

  .celesta-glow {
    position: absolute;
    font-family: "Swiss721BlkBT";
    font-size: 1.4rem;
    letter-spacing: 0.81rem;
    padding-inline-start: 0;
  }
  .team-subheader {
    font-size: 1.7rem;
  }
}
