@font-face {
  font-family: "Swis721 BlkEx BT";
  src: local("Swis721 BlkEx BT") url(./fonts/swz721k.ttf) format("truetype");
}

@font-face {
  font-family: "Arsis";
  src: local("Arsis") url(./fonts/ARS.TTF) format("truetype");
}

@font-face {
  font-family: "ElFont Urban Calligraphy";
  src: local("ElFont Urban Calligraphy") url(./fonts/Urban\ Calligraphy.ttf)
    format("truetype");
}
